<div class="main-body">
  <!-- <mat-form-field class="filter">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. User Name"
      #input
    />
  </mat-form-field> -->
  <form [formGroup]="filterForm" (ngSubmit)="submit()">
    <div class="container">
      <div class="mx-5">
        <mat-form-field>
          <mat-label>filter</mat-label>
          <mat-select formControlName="key">
            <mat-option *ngFor="let val of filter" [value]="val">{{
              val
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mx-5">
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="value" />
        </mat-form-field>
      </div>
      <div class="mx-5 mt-3">
        <button mat-raised-button color="primary" type="submit">Search</button>
      </div>
    </div>
  </form>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="taskNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Number</th>
        <td mat-cell *matCellDef="let row">{{ row.taskNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="taskDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Task Description
        </th>
        <td mat-cell *matCellDef="let row">{{ row.taskDescription }}</td>
      </ng-container>

      <ng-container matColumnDef="assign">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assign</th>
        <td mat-cell *matCellDef="let row">{{ row.assign }}</td>
      </ng-container>

      <ng-container matColumnDef="startingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Starting Date</th>
        <td mat-cell *matCellDef="let row">{{ row.startingDate }}</td>
      </ng-container>

      <ng-container matColumnDef="estimateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estimate Date</th>
        <td mat-cell *matCellDef="let row">{{ row.estimateDate }}</td>
      </ng-container>

      <ng-container matColumnDef="taskStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Status</th>
        <td mat-cell *matCellDef="let row">{{ row.taskStatus }}</td>
      </ng-container>

      <ng-container matColumnDef="sprint">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sprint</th>
        <td mat-cell *matCellDef="let row">{{ row.sprint }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
  <button
    *ngIf="backButton"
    (click)="back()"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Back
  </button>
</div>
