.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

/* .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} */

.container {
  display: flex;

  justify-content: center;
}
