<mat-toolbar color="primary">
  <span>Task Management</span>
  <div class="spacer"></div>
  <a mat-button (click)="createTask()">Create</a>
  <a [routerLink]="['list']" mat-button>List</a>
  <a [routerLink]="['assign']" mat-button>Assign</a>

  <a *ngIf="local" mat-button (click)="useradd()">User Registration</a>
  <a [routerLink]="['']" mat-raised-button color="accent">SignOut</a>
</mat-toolbar>
<router-outlet></router-outlet>
